# 4.6 Combining & Exporting Data

### This script contains the following points:

#### Import librabries

#### Import data

#### Checking dataframe shape

#### Merging the 2 dataframes

#### Exporting the merged dataframes

## Import libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

## Import data

In [4]:
# project folder path
path = r'C:\Users\Odette\Desktop\CareerFoundry\Immersion Courses\Course 4\Instacart Basket Analysis'

In [5]:
# import of orders_products_prior data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'order_products__prior.csv'), index_col = False)

In [11]:
# checking output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# import of orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index_col = False)

In [10]:
# checking output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

## Checking dataframe shape

In [12]:
# shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [13]:
# shape of df_ords
df_ords.shape

(3421083, 7)

## Merging the 2 dataframes

In [14]:
# merging df_ords_prior and df_ords dataframe using order_id as key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
# checking output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [18]:
# checking the frequency of the merge
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Exporting the merged dataframe

In [19]:
# export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))